:root{
    --fadeBlack:rgb(20,20,20);
    --darkGray:rgb(100, 100, 100);
    --dirtyWhite:rgb(255,255,255);
}
html{
    scrollbar-color: var(--darkGray) var(--dirtyWhite);
    scrollbar-width: thin;
}
li{
    list-style-type: none;
}
a{
    display:inline-block;
    text-decoration: none;
    color:var(--fadeBlack);
}
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color:var(--fadeBlack);
}
body{
    font-family: 'Roboto',sans-serif;
    font:100%;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}



/* Classes*/
.flex{
    display:flex;
}
.flex-col{
    flex-direction: column;
}
.flex-jc-fs{
    justify-content: flex-start;
}
.flex-jc-c{
    justify-content: center;
}
.flex-jc-sb{
    justify-content: space-between;
}
.flex-jc-se{
    justify-content: space-evenly;
}
.flex-ai-fs{
    align-items:flex-start;
}
.flex-ai-c{
    align-items: center;
}
.width-90{
    max-width:1400px;
    width:90%;
    margin:0 auto;
}
.width-80{
    max-width:1200px;
    width:80%;
    margin:0 auto;
}
.font-Montserrat{
    font-family: 'Montserrat',sans-serif;
}


.header-link{
    position: relative;
    margin-left:50px;
    font-weight:300;
    transition: 0.2s all ease-in-out;
}
.header-link::after{
    content: "";
    display:block;
    position:absolute;
    /* top:calc(100% + 10px); */
    top:calc(100% + 5px);
    left:50%;
    transform: translate(-50%,-50%);
    width:0%;
    height:1.5px;
    background-color:var(--fadeBlack);
    transition:0.2s width ease-in-out,0.2s transform ease-in-out;
}
.header-link:hover{
    opacity: 60%;
}
.header-link:hover::after{
    opacity: 60%;
    width:100%;
    /* transform: translateX(-50%); */
}
.rotate-30{
    --degrees:50deg !important;
}
.rotate-n30{
    --degrees:-60deg !important;
}
.translate-ny50{
    animation-name: translate-ny50;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
}
.hide{
    display: none !important;; 
}
.translate-right{
    transform: translateX(100%) !important;
}




/* ID */
#header-bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    opacity: 10%;
    z-index: -10;
    filter: saturate(0%);
}
#header-bg.fadein{
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#header-nav{
    padding:30px 0;
}
#header-logo{
    height:80px;
    width:auto;
}
#menu{
    display:none;
    position:absolute;
    top:30px;
    right:30px;
    height:30px;
    width:auto;
}
#close{
    display:none;
    position:absolute;
    top:30px;
    right:30px;
    height:30px;
    width:auto;
}
#vector1{
    --degrees:0deg;
    position: absolute;
    height:500px;
    width:auto;
    bottom: 0;
    transform:translate(-50%,50%) rotate(var(--degrees));
    z-index: -10;
    opacity: 30%;
    transition: 1s all ease-in-out;
}
#vector2{
    --degrees:0deg;
    position: absolute;
    height:500px;
    width:auto;
    right:0;
    top:50%;
    transform: translate(20%,-50%) rotate(var(--degrees));
    z-index:-10;
    transition: 1s all ease-in-out;
}
#vector3{
    --ny:0;
    position: absolute;
    top:20%;
    height:20%;
    width:10%;
    object-position: center;
    object-fit: cover;
    transform: translate(-20%,var(--ny));
    transition: 1s all ease-in-out;
}
#gallery-heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
}
#section-content{
    margin-top:30px;
}
#section-content p{
    padding-left:75px;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: justify;
}
#gallery-grid{
    /* background-color: violet; */
    padding:50px 0;
    display:grid;
    grid-template-columns: repeat(4,auto);
    grid-auto-rows: minmax(250px, auto);
    grid-gap:20px;
    grid-template-areas: 
        "content1 content2 content3 content3"
        "content4 content5 content6 content7"
        "content4 content8 content9 content10"
        "content11 content11 content11 content12"
    ;
}
#gallery-grid>div{
    overflow-x: hidden;
}
#gallery-grid>div>span{
    display:flex;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    /* top:50%;
    left:50%;
    transform: translate(-50%,-50%); */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items:center;
    height:100%;
    width:100%;
    padding:0 30px;
    color:white;
    transform: translateX(-100%);
    opacity: 1;
    width:100%;
    transition: 0.4s all ease-in-out;
}
.gallery-image#one,
.gallery-image#two,
.gallery-image#three,
.gallery-image#four,
.gallery-image#five,
.gallery-image#six,
.gallery-image#seven,
.gallery-image#eight,
.gallery-image#nine,
.gallery-image#ten,
.gallery-image#eleven,
.gallery-image#twelve{
    transition: 0.4s all ease-in-out;
}
.gallery-image#one:hover,
.gallery-image#two:hover,
.gallery-image#three:hover,
.gallery-image#four:hover,
.gallery-image#five:hover,
.gallery-image#six:hover,
.gallery-image#seven:hover,
.gallery-image#eight:hover,
.gallery-image#nine:hover,
.gallery-image#ten:hover,
.gallery-image#eleven:hover,
.gallery-image#twelve:hover{
    transform: scale(1.03);
}
.gallery-image#one:hover>span,
.gallery-image#two:hover>span,
.gallery-image#three:hover>span,
.gallery-image#four:hover>span,
.gallery-image#five:hover>span,
.gallery-image#six:hover>span,
.gallery-image#seven:hover>span,
.gallery-image#eight:hover>span,
.gallery-image#nine:hover>span,
.gallery-image#ten:hover>span,
.gallery-image#eleven:hover>span,
.gallery-image#twelve:hover>span{
    transform:translateX(0) !important;
}
#gallery-grid>div>span>h5,
#gallery-grid>div>span>div{
    color:white;
}
#gallery-grid>div>span>h5{
    font-size:1.125rem;
    font-weight:300;
    padding-bottom:30px;
}
#gallery-grid>div>span>div{
    font-size:1rem;
    font-weight:100;
}
#gallery-grid>div:nth-child(1){
    position: relative;
    grid-area: content1;
    background-image: url(img/img1.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(2){
    position: relative;
    grid-area: content2;
    background-image: url(img/img2.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(3){
    position: relative;
    grid-area: content3;
    background-image: url(img/img3.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(4){
    position: relative;
    grid-area: content4;
    background-image: url(img/img4.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(5){
    position: relative;
    grid-area: content5;
    background-image: url(img/img5.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(6){
    position: relative;
    grid-area: content6;
    background-image: url(img/img6.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(7){
    position: relative;
    grid-area: content7;
    background-image: url(img/img7.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(8){
    position: relative;
    grid-area: content8;
    background-image: url(img/img8.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(9){
    position: relative;
    grid-area: content9;
    background-image: url(img/img9.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(10){
    position: relative;
    grid-area: content10;
    background-image: url(img/img10.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(11){
    position: relative;
    grid-area: content11;
    background-image: url(img/img11.jpg);
    background-position: center;
    background-size: cover;
}
#gallery-grid>div:nth-child(12){
    position: relative;
    grid-area: content12;
    background-image: url(img/img12.jpg);
    background-position: center;
    background-size: cover;
}
footer{
    padding:30px 0;
    align-items: center;
}
footer div{
    display:inline-block;
    background-color: black;
    height:10px;
    width:0;
    transition: 0.5s all ease-in-out;
}
footer:hover div{
    width:100%;
}
footer img{
    padding:0 30px;
}







/* Media Queries */
@media(orientation:portrait) and (max-width:1024px){
    body{
        overflow-y: auto;
        overflow-x: hidden;
    }
    #header-logo{
        height:40px;
        width:auto;
    }
    #header-links{
        display:none;
        flex-direction: column;
        position:absolute;
        top:0;
        left:0;
        background-color: var(--dirtyWhite);
        width: 100vw;
        height:100vh;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .header-link{
        font-size:1.5rem;
        padding:20px 0;
    }
    #menu{
        display:block;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        z-index: 100;
    }
    #menu:hover{
        opacity: 80%;
        transform: scale(1.1);
    }
    #close{
        display:block;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        z-index: 100;
    }
    #close:hover{
        opacity: 80%;
        transform: scale(1.1);
    }
    #vector1{
        --degrees:0deg;
        position: fixed;
        height:500px;
        width:auto;
        bottom: 0;
        transform:translate(-50%,50%) rotate(var(--degrees));
        z-index: -10;
        opacity: 30%;
        transition: 1s all ease-in-out;
    }
    #vector2{
        --degrees:0deg;
        position: fixed;
        height:300px;
        width:auto;
        right:0;
        top:50%;
        transform: translate(20%,-50%) rotate(var(--degrees));
        z-index:-10;
        transition: 1s all ease-in-out;
    }
    #vector3{
        display:none;
    }
}
@media (max-width:991px){
    body{
        overflow-y: auto;
        overflow-x: hidden;
    }
    #header-logo{
        height:40px;
        width:auto;
    }
    #header-links{
        display:none;
        flex-direction: column;
        position:absolute;
        top:0;
        left:0;
        background-color: var(--dirtyWhite);
        width: 100vw;
        height:100vh;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .header-link{
        font-size:1.5rem;
        padding:20px 0;
    }
    #menu{
        display:block;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        z-index: 100;
    }
    #menu:hover{
        opacity: 80%;
        transform: scale(1.1);
    }
    #close{
        display:block;
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        z-index: 100;
    }
    #close:hover{
        opacity: 80%;
        transform: scale(1.1);
    }
    #vector1{
        --degrees:0deg;
        position: fixed;
        height:500px;
        width:auto;
        bottom: 0;
        transform:translate(-50%,50%) rotate(var(--degrees));
        z-index: -10;
        opacity: 30%;
        transition: 1s all ease-in-out;
    }
    #vector2{
        --degrees:0deg;
        position: fixed;
        height:300px;
        width:auto;
        right:0;
        top:50%;
        transform: translate(20%,-50%) rotate(var(--degrees));
        z-index:-10;
        transition: 1s all ease-in-out;
    }
    #vector3{
        display:none;
    }
    #gallery-grid{
        /* background-color: violet; */
        padding:50px 0;
        display:grid;
        grid-template-columns: repeat(3,auto);
        grid-auto-rows: minmax(250px, auto);
        grid-gap:20px;
        grid-template-areas: 
            "content1 content2 content3"
            "content4 content5 content6"
            "content4 content7 content8"
            "content9 content10 content10"
            "content11 content11 content12"
        ;
    }
}